.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

form {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 5%;
  margin: 0 auto;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222222;
  line-height: 20px;
}

input {
  padding: 10px 10px;
  outline: none;
  border: 1px solid #cfcfcf;
  background-color: #f1f1eb;
  line-height: 20px;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: normal;
  color: #aaaaaa;
}
input:focus{
  background-color: #ffffff;
}

/* Form Data */
.grid__vorname {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

.grid__nachname {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

.grid__geburtsdatum {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

.grid__geburtsdatum__col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  grid-gap: 0.5em;
}

.grid__strabe {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
}

.grid__strabe__labels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 2fr));
  grid-gap: 1rem;
}

.grid__strabe__labels label:nth-child(1) {
  grid-column: span 2;
}

.grid__strabe__labels label:nth-child(2) {
  grid-column: span 1;
}

.grid__strabe__fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 2fr));
  grid-gap: 0.5em;
}

.grid__strabe__fields input:nth-child(1) {
  grid-column: span 2;
}

.grid__strabe__fields input:nth-child(2) {
  grid-column: span 1;
}

.grid__plz {
  display: grid;
  grid-template-rows: 1fr;
}

.grid__plz__labels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 2fr));
  grid-gap: 1rem;
}

.grid__plz__labels label:nth-child(1) {
  grid-column: span 1;
}

.grid__plz__labels label:nth-child(2) {
  grid-column: span 2;
}

.grid__plz__fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 2fr));
  grid-gap: 0.5em;
}

.grid__plz__fields input:nth-child(1) {
  grid-column: span 1;
}

.grid__plz__fields input:nth-child(2) {
  grid-column: span 2;
}

.grid__errorMessage {
  color: red;
  font-size: 0.8em;
  margin: 1em 0;
}

/* Button */
.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
  cursor: pointer;
}

/* check box */
.grid-checkbox {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  margin-bottom: 1rem;
}
.form__container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.form__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.form__checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f1f1eb;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
}


.form__container input:checked ~ .form__checkMark {
  background-color: #f1f1eb;
}

.form__checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

.form__container input:checked ~ .form__checkMark:after {
  display: block;
}

.form__container .form__checkMark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #222222;
  content: "";
}

.form__container {
  font-size: 0.8em;
}

@media (min-width: 768px) {
  form {
    width: 400px;
  }
  .grid-checkbox {
    grid-template-columns: 25% 37% 37%;
  }

  .grid__vorname {
    grid-template-columns: 1fr 3fr;
  }
  .grid__nachname {
    grid-template-columns: 1fr 3fr;
  }
  .grid__geburtsdatum {
    grid-template-columns: 1fr 3fr;
  }

  .grid__strabe {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid__strabe__labels label span {
    display: none;
  }

  .grid__strabe__labels label:nth-child(1):before {
    content: "Straße/Nr.*";
    position: relative;
    top: 0.9em;
  }
  .grid__strabe__labels label:nth-child(2) {
    display: none;
  }

  .grid__plz {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid__plz__labels label span {
    display: none;
  }

  .grid__plz__labels label:nth-child(1):before {
    content: "PLZ/Ort*";
    position: relative;
    top: 0.9em;
  }
  .grid__plz__labels label:nth-child(2) {
    display: none;
  }

  .grid__errorMessage {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .grid__geburtsdatum__col {
    grid-gap: 1em;
  }

  .grid__strabe__fields {
    grid-gap: 1em;
  }
  .grid__plz__fields {
    grid-gap: 1em;
  }
}

@media (min-width: 992px) {
  form {
    width: 500px;
  }
  .grid__geburtsdatum__col {
    grid-gap: 1.5em;
  }

  .grid__strabe__fields {
    grid-gap: 1.5em;
  }
  .grid__plz__fields {
    grid-gap: 1.5em;
  }
}

@media (min-width: 1200px) {
}
